.choosingPage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: $back-color;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;

    &--fadeOut{
        visibility: hidden;
        transform: scale(10);
        opacity: 0;
        transition-duration: 0.5s;
    }

    &__item{

        &:first-child {
            margin: 0;
        }
        &:hover {
            transition-duration: 0.3s;
            background-color: darken($back-color, 1);
        }
        &--selected {
            margin: 0;
            &:first-child {
                transform: translateX(50%) translateY(-10rem);
            }
            &:nth-child(2) {
                transform: translateX(-50%) translateY(-10rem);
            }
        }
        &--not-selected {
            opacity: 0;
            visibility: hidden;
            margin: 0;
        }

    }

    &__loading{
        position: fixed;
        top: calc((100% / 2) + 6rem);
        width: 10rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;

        transition-duration: 0.3s;

        &--show{
            transition-duration: 0.3s;
            opacity: 1;
            visibility: visible;
        }

    }

    &__address-wrapper{

        &--show{
            opacity: 1;
            visibility: visible;
            transition-duration: 0.3s;
        }

        opacity: 0;
        visibility: hidden;
        transition-duration: 0.3s;

        width: 50%;
        height: 20rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}