.clientActions{
    display: flex;
    min-width: 3rem;

    align-self: stretch;

    justify-content: center;

    margin-right: auto;

    &__action{

        background-color: darken($back-color,2);

        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        user-select: none;
        cursor: pointer;

        transition-duration: 0.3s;

        &:hover{
            background-color: darken($back-color, 3);
            transition-duration: 0.3s;
        }

        &>i{
            font-size: 1.6rem;
        }

    }

}