.input{

    width: 80%;
    height: 3rem;
    outline: none;

    padding: 0.2rem;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 0.2rem solid #8e44ad;
    caret-color: white;
    color: white;

    &--center{
        text-align: center;
    }

    &--error{
        border-bottom-color: red;
    }

}