<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">

</head>

<body>

    <div id="wrapper">

    </div>

    <div class="choosingPage">

        <div data-action="create" class="choosingPage__item choice">

            <img src="../images/networking.png" alt="">

            <span>
                Create a Group
            </span>

        </div>

        <div data-action="join" class="choosingPage__item choice">

            <img src="../images/networking.png" alt="">

            <span>
                Join a Group
            </span>

        </div>

        <div class="choosingPage__loading">

            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

        </div>

        <div class="choosingPage__address-wrapper">

            <input type="text" class="input input--center" placeholder="IP Address">

        </div>

    </div>

    <script src="../js/helpers/elementHelper.js"></script>

    <script>
        
        require('../js/views/start/choosingPage');
    
    </script>

</body>

</html>