<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeLive | Cross-Platform Collabrative Code Editor</title>

    <link rel="stylesheet" href="../css/main.css">

</head>

<body>
    <div id="app">
        
    </div>

    <script src="../js/helpers/elementHelper.js"></script>

    <!-- <script src="../js/views/index.js"></script> -->

    <!-- <script src="../js/dist/bundle.js"></script> -->

    <script>
    
        require('../js/views/index.js');

    </script>

</body>

</html>