@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/aside',
  'layout/editorWrapper',
  'layout/layout',
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/HTMLRunner',
  'components/languageSelect',
  'components/icon',
  'components/question',
  'components/choice',
  'components/loading',
  'components/input',
  'components/choosingPage',
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
